<li><%= link_to "Upload tab-separated file", new_tsv_path %></li>
<li><%= link_to "Orders", orders_path %></li>
<li><%= link_to "Merchants", merchants_path %></li>
<li><%= link_to "Products", products_path %></li>
<li><%= link_to "Purchasers", purchasers_path %></li>
